body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

form p {
    margin: 10px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

form input, form select, form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    resize: vertical; /* Allows vertical resizing of textarea */
    height: 100px; /* Default height for textarea */
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.button-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
}

.button-link:hover {
    background-color: #0056b3;
    text-decoration: none;
}